*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container{
    display: grid;
    width: 700px;
    height: 650px;
    background-color: aqua;
}

.button-container{
    width: 250px;
    height:650px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.all-button{
    width: 200px;
    height: 50px;
    margin: 25px;
}

.color-picker{
    width: 180px;
    height:20px;
    margin: 20px;
}

.range-input{
    width: 180px;
    height: 50px;
    margin: 0px;
}

p{
    margin: 0;
}